@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  /* Primary Colors */
  --Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);
  /* Neutral Color */
  --Dark-gray: hsl(0, 0%, 59%);
}

body {
  height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  background-color: var(--Dark-cyan);
  background-image: url("./images/bg-pattern-top.svg"), url("./images/bg-pattern-bottom.svg");
  background-position: right 50vw bottom 50vh, left 50vw top 50vh;
  background-repeat: no-repeat;
}

main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.card {
  width: 22em;
  margin: 1em;
  aspect-ratio: 430/460;
  border-radius: 1em;
  background-color: #FFF;
  -webkit-box-shadow: 0 2em 2em 0.1px rgba(45, 50, 72, 0.3);
          box-shadow: 0 2em 2em 0.1px rgba(45, 50, 72, 0.3);
  overflow: hidden;
}

@media screen and (max-width: 450px) {
  html {
    font-size: 0.8rem;
  }

  .card {
    width: 17em;
  }
}
.card-bg {
  width: 100%;
  height: 37%;
  background-image: url("./images/bg-pattern-card.svg");
  background-size: cover;
}

.card-profile {
  width: 100%;
  height: 39%;
  position: relative;
  font-size: 0;
  border-bottom: 1px solid var(--Dark-gray);
  text-align: center;
}
.card-profile__photo {
  width: 28%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 5px solid #FFF;
}
.card-profile__name, .card-stats__stat--number {
  display: inline-block;
  margin: 0.2em;
  margin-top: 5em;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: var(--Very-dark-desaturated-blue);
  font-weight: 700;
}
.card-profile__age, .card-profile__city {
  color: var(--Dark-grayish-blue);
}
.card-profile__age {
  font-size: 1.2rem;
}
.card-profile__city {
  margin: 0.2em;
  font-size: 1rem;
}

.card-stats {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 24%;
}
.card-stats__stat {
  width: 26.6666666667%;
  text-align: center;
}
.card-stats__stat--number, .card-stats__stat--text {
  margin: 0;
  padding: 0.2em;
}
.card-stats__stat--text {
  font-size: 0.8rem;
  letter-spacing: 2px;
  color: var(--Dark-grayish-blue);
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: #FFF;
}

.attribution a {
  color: var(--Very-dark-desaturated-blue);
}
.attribution a:hover {
  color: #FFF;
}