@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Violet: #674baf;
  --Soft-Magenta: #e882e8;
}

body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  background-color: var(--Violet);
  background-image: url(../images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.fm-poppins {
  font-family: "Poppins", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
