:root {
  --white: hsl(0, 0%, 100%);
  --primary-color: hsl(216, 12%, 54%);
  --secundary-color: hsl(25, 97%, 53%);
  --select-state: hsl(217, 12%, 63%);
  --bg-card: hsl(213, 20%, 18%);
  --bg-color: hsl(216, 12%, 8%);
}

html {
  background-color: var(--bg-color);
  color: var(--primary-color);
  font-family: "Overpass", sans-serif;
  font-size: 15px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.raiting-card {
  box-sizing: border-box;
  width: 22em;
  padding: 1.5em;
  aspect-ratio: 1;
  font-weight: 400;
  background-color: var(--bg-card);
  background: radial-gradient(
    circle at 50% 0%,
    hsla(213, 20%, 23%) 0%,
    hsl(213, 20%, 18%) 100%
  );
  border-radius: 1em;
}

.raiting-card__start {
  display: block;
  padding: 0.75em;
  width: 1em;
  background-color: hsla(216, 12%, 54%, 0.1);
  border-radius: 50%;
}

.raiting-card__question {
  display: block;
  margin: 1em 0;
  color: var(--white);
  font-weight: 700;
  font-size: 1.5rem;
}

.raiting-card-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.8em 0;
}

.raiting-card-buttons__button {
  box-sizing: content-box;
  width: 2.75em;
  padding: 0;
  aspect-ratio: 1;
  color: var(--primary-color);
  font-weight: 700;
  background-color: hsla(216, 12%, 54%, 0.1);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}

@media (hover: hover) {
  .raiting-card-buttons__button:hover {
    background-color: var(--secundary-color);
    color: var(--white);
  }
}

@media (hover: none) {
  .raiting-card-buttons__button:active {
    background-color: var(--secundary-color);
    color: var(--white);
  }
}

.raiting-card__submit {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 700;
  width: 100%;
  padding: 1em;
  margin: 0.5em 0;
  background-color: var(--secundary-color);
  border: none;
  border-radius: 2em;
  cursor: pointer;
  transition: all 0.3s;
}

.raiting-card__submit--select {
  background-color: var(--white);
  color: var(--secundary-color);
}

@media (hover: hover) {
  .raiting-card__submit:hover {
    background-color: var(--white);
    color: var(--secundary-color);
  }
}

@media (hover: none) {
  .raiting-card__submit:active {
    background-color: var(--white);
    color: var(--secundary-color);
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
