:root{
    --card-Red: hsl(0, 78%, 62%);
    --card-Cyan: hsl(180, 62%, 55%);
    --card-Orange: hsl(34, 97%, 64%);
    --card-Blue: hsl(212, 86%, 64%);
    --title-subtitles: hsl(234, 12%, 34%);
    --paragraph: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}

html{
    font-size: 15px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

body{
    padding: 5em 1.2em;
    background-color: var(--Very-Light-Gray);
}

h1, em{
    margin: 0;
    text-align: center;
    font-size: 1.6rem;
}

h1, h3{
    color: var(--title-subtitles);
    font-weight: 600;
}

em{
    display: inline-block;
    width: 100%;
    font-style: normal;
    font-weight: 200;
    color: var(--title-subtitles);
}

h3{
    margin: 0;
}

p{
    color: var(--paragraph);
}

main > p:first-of-type{
    padding: 0 .5em;
    text-align: center;
}

.sr-only {
    position:absolute ;
    left: -10000px;
    width: 1px;
    height: 1px;
    top: auto;
    overflow: hidden;
}

.features{
    display: flex;
    justify-content: center;
    width: 100%;
}

.card-group{
    display: grid;
    padding-top: 4em;
    gap: 1em;
}

.card{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.8em;
    margin: .5em;
    border-radius: 6px;
    background-color: #FFF;
    box-shadow: 0px 4px 10px 2px hsla(228, 45%, 44%, .2);
}

.card__title{
    font-size: 1.25rem;
    text-align: left;
}

.card--cyan{
    border-top: 4px solid var(--card-Cyan);
}

.card--red{
    border-top: 4px solid var(--card-Red);
}

.card--orange{
    border-top: 4px solid var(--card-Orange);
}

.card--blue{
    border-top: 4px solid var(--card-Blue);
}

.card__text{
    margin: .5em 0;
    font-size: 13px;
}

.card__logo{
    margin-top: 2em;
    width: 50px;
    align-self: flex-end;
}

.attribution { 
    margin-top: 5em;
    font-size: 10px; 
    text-align: center;
    color: var(--title-subtitles);
}

.attribution a { 
    transition: all 0.5s;
    color: hsl(228, 45%, 44%); 
}

.attribution a:active{
    color: hsl(229, 6%, 66%);
}

@media screen and (min-width:42em) {
    body{
        padding-top: 4em;
        padding-bottom: 0;
    }
    .card-group{
        grid-template-columns: repeat(2, minmax(300px, 350px));
        grid-template-rows: repeat(2, 1fr);
    }
    .attribution { 
        margin: 2em 0;
        font-size: 12px;
    }
}

@media screen and (min-width:64em) {
    h1, h2{
        font-size: 2.4rem;
    }

    main > p:first-of-type{
        margin: 0 auto;
        margin-top: 2em;
        width: 35em;
    }

    .card-group{
        grid-template-columns: repeat(3, minmax(300px, 350px));
        gap: 2em;
    }

    .card--cyan{
        margin: auto;
        grid-row: 1 / 3;
        grid-column: 1 / 2;
    }
    
    .card--blue{
        margin: auto;
        grid-row: 1 / 3;
        grid-column: 3 / 4;
    }

    .card--orange, .card--red{
        margin: 0;
    }

    .card__logo{
        width: 76px;
    }
}

@media (hover:hover){
    .attribution a:hover { 
        color: hsl(229, 6%, 66%); 
    }
}