:root{
    --section-color-1: hsl(179, 62%, 43%);
    --section-color-2: hsl(179, 47%, 52%);
    --Bright-Yellow: hsl(71, 73%, 54%);
    --typografy-color-1: hsl(218, 22%, 67%);
    --bg-color: hsl(204, 43%, 93%);
}

html{
    font-size: 14px;
    font-family: 'Karla', sans-serif;
}

body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    min-height: 100vh;
    padding: 2em;
    background-color: var(--bg-color);
}

.sr-only {
    position:absolute ;
    left: -10000px;
    width: 1px;
    height: 1px;
    top: auto;
    overflow: hidden;
}

.template-price{
    max-width: 325px;
    border-radius: 8px;
    color: #FFF;
    overflow: hidden;
    box-shadow: 0px 0px 20px -10px hsl(218, 22%, 67%);
}

.template-price__main-info{
    box-sizing: border-box;
    padding: 1.5em;
    background-color: #fff;
}

.template-price__main-info h2{
    font-size: 1.52rem;
    color: var(--section-color-1);
    margin: 0;
}

.template-price__main-info em{
    display: inline-block;
    margin: 1.25em 0;
    line-height: 1.5rem;
    font-weight: 700;
    color: var(--Bright-Yellow);
    font-size: 16px;
    font-style: normal;
}

.template-price__main-info p{
    margin: 0;
    margin-bottom: 1em;
    line-height: 1.75rem;
    color: var(--typografy-color-1);
}

.template-price__suscription{
    padding: 1.75em;
    font-size: 16px;
    background-color: var(--section-color-1);
}

.template-price__suscription h2{
    margin: 0;
    font-size: 1.3rem;
    background-color: var(--section-color-1);
}

.template-price__suscription--price{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin: .4em 0 .2em 0;
    font-size: 2.3em;
    font-weight: 700;
    background-color: var(--section-color-1);
}

.template-price__suscription--price span{
    padding-left: 1em;
    font-size: 16px;
    font-weight: 400;
    color: var(--bg-color);
}

.template-price__suscription p{
    margin: 0;
}

.template-price__suscription a{
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 1em;
    margin: 2em 0 0 0;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    font-weight: 700;
    background-color: var(--Bright-Yellow);
    transition: all .2s;
    border: 3.5px solid var(--Bright-Yellow);
    border-radius: 5px;
    box-shadow: 0px 5px 20px -16px rgba(0,0,0,1);
}

@media (hover:none){
    .template-price__suscription a:active{
        background-color: transparent;
        color: var(#FFF);
    }
}

@media (hover:hover){
    .template-price__suscription a:hover{
        background-color: transparent;
        color: var(#FFF);
    }
}

.template-price__offers{
    padding: 1.75em;
    background-color: var(--section-color-2);
}

.template-price__offers h2{
    margin: 0;
    font-size: 1.3rem;
}

.template-price__offers ul{
    display: flex;
    flex-direction: column;
    gap: .4em;
    padding-left: 0;
    margin: 1.5em 0 0 0;
    list-style: none;
}

.attribution { 
    font-size: 12px; 
    text-align: center; 
    color: var(--section-color-1);
}
.attribution a { color: var(--section-color-2) }

@media screen and (min-width: 768px) {
    html{
        font-size: 16px;
    }

    .template-price{
        display: grid;
        grid-template-columns: repeat(2, 325px);
        grid-template-rows: repeat(2, auto);
        max-width: max-content;
    }

    .template-price__main-info{
        grid-column: 1 / 3;
        padding: 2.5em;
    }

    .template-price__main-info em{
        margin: 1.25em 0 .5em 0;
    }

    .template-price__main-info p{
        margin: 0;
    }

    .template-price__suscription, .template-price__offers{
        padding: 2.5em;
    }

    .template-price__suscription--price{
        margin: .5em 0;
        font-size: 2em;
    }

    :is(.template-price__suscription, .template-price__offers) h2{
        font-size: 1.18rem;
    }

    .template-price__offers ul{
        font-size: 14px;
    }
    
}