:root {
  --primary-color: hsl(223, 87%, 63%);
  --secondary-color: hsl(223, 100%, 88%);
  --error-color: hsl(354, 100%, 66%);
  --text-color: hsl(0, 0%, 59%);
  --text-strong-color: hsl(209, 33%, 12%);
}