:root{
  --bg-color: #202632;
  --text-quote-color: hsl(193, 38%, 86%);
  --Neon-Green: hsl(150, 100%, 66%);
  --Grayish-Blue: hsl(217, 19%, 38%);
  --Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --text-size-quote: 1.75rem;
  --font-family-Manrope: 'Manrope', sans-serif;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: var(--bg-color);
  font-family: var(--font-family-Manrope);
}

main{
  display: flex;
  justify-content: center;
  align-items: center; 
}

.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

.advice{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 34em;
  padding: 3em 2.5em 0 2.5em;
  margin: 3em 0;
  background-color: var(--Dark-Grayish-Blue);
  border-radius: 0.75rem;
}

.advice__id{
  margin: 0;
  margin-top: 1em;
  font-size: .8rem;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: var(--Neon-Green);
}

.advice__quote{
  margin: 1.1em 0;
  text-align: center;
  font-size: var(--text-size-quote);
  color: var(--text-quote-color);
}

.advice__button{
  display: block;
  width: 4.5em;
  aspect-ratio: 1;
  background-color: var(--Neon-Green);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transform: translateY(calc(50%));
  transition: all 0.2s;
}

.advice__button:hover{
  box-shadow: 0em 0 1.5em 1.5em hsla(150, 100%, 66%, .3);
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--Grayish-Blue);
}

.attribution a {
  color: var(--text-quote-color);
}

@media (hover: hover){
  .attribution a:hover {
    color: var(--Neon-Green);
  }  
}

@media screen and (max-width: 768px) {

  html{
    font-size: 10px;
  }

  .advice{
    width: 28em;
    padding: 2em 2em 0 2em;
    margin-bottom: 4em;
    background-color: var(--Dark-Grayish-Blue);
    border-radius: 0.75rem;
  }

  .advice__quote{
    width: 13em
  }

  .advice__button{
    width: 4em;
  }

  .advice__button:hover{
    box-shadow: none;
  }

  .advice__button:active{
    box-shadow: 0em 0 1.5em 1.5em hsla(150, 100%, 66%, .3);
  }

  .attribution a:active {
    color: var(--Neon-Green);
  }
}