@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  /* Primary Colors */
  --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --Soft-red: hsl(14, 88%, 65%);
  /* Gradient Colors */
  --Soft-violet: hsl(273, 75%, 66%);
  --Softblue: hsl(240, 73%, 65%);
  /* Typography Colors */
  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);
  /* Dividers */
  --Light-grayish-blue: hsl(240, 5%, 91%);
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
  color: var(--Very-dark-grayish-blue);
  background: var(--Softblue);
  background: -webkit-gradient(linear, left bottom, left top, from(var(--Softblue)), to(var(--Soft-violet)));
  background: -webkit-linear-gradient(bottom, var(--Softblue) 0%, var(--Soft-violet) 100%);
  background: linear-gradient(0deg, var(--Softblue) 0%, var(--Soft-violet) 100%);
  background-repeat: no-repeat;
}

.FAQ-accordion {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70em;
  aspect-ratio: 32.5/18;
  padding: 4em 6em;
  margin: 1em;
  position: relative;
  background-color: #FFF;
  background-image: url("../images/bg-pattern-desktop.svg");
  background-size: 108%;
  background-repeat: no-repeat;
  background-position: -46em -23em;
  border-radius: 2em;
  -webkit-box-shadow: 0 1.5em 5em 0.5em rgba(29, 30, 53, 0.5);
          box-shadow: 0 1.5em 5em 0.5em rgba(29, 30, 53, 0.5);
}
.FAQ-accordion__box {
  position: absolute;
  z-index: 1;
  left: -7em;
  top: 11.5rem;
  -webkit-filter: drop-shadow(0 2em 2em rgba(29, 30, 53, 0.8));
          filter: drop-shadow(0 2em 2em rgba(29, 30, 53, 0.8));
}
.FAQ-accordion__box-img {
  width: 90%;
  -webkit-clip-path: polygon(52% 1%, 74% 14%, 74% 43%, 49% 59%, 26% 46%, 26% 16%);
          clip-path: polygon(52% 1%, 74% 14%, 74% 43%, 49% 59%, 26% 46%, 26% 16%);
}
@media (hover: hover) {
  .FAQ-accordion__box-img:hover {
    -webkit-animation-name: wobble;
            animation-name: wobble;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
}
@-webkit-keyframes wobble {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  15% {
    -webkit-transform: translateX(-6%) rotate(-5deg);
            transform: translateX(-6%) rotate(-5deg);
  }
  30% {
    -webkit-transform: translateX(4%) rotate(3deg);
            transform: translateX(4%) rotate(3deg);
  }
  45% {
    -webkit-transform: translateX(-3%) rotate(-3deg);
            transform: translateX(-3%) rotate(-3deg);
  }
  60% {
    -webkit-transform: translateX(2%) rotate(2deg);
            transform: translateX(2%) rotate(2deg);
  }
  75% {
    -webkit-transform: translateX(-1%) rotate(-1deg);
            transform: translateX(-1%) rotate(-1deg);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@keyframes wobble {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  15% {
    -webkit-transform: translateX(-6%) rotate(-5deg);
            transform: translateX(-6%) rotate(-5deg);
  }
  30% {
    -webkit-transform: translateX(4%) rotate(3deg);
            transform: translateX(4%) rotate(3deg);
  }
  45% {
    -webkit-transform: translateX(-3%) rotate(-3deg);
            transform: translateX(-3%) rotate(-3deg);
  }
  60% {
    -webkit-transform: translateX(2%) rotate(2deg);
            transform: translateX(2%) rotate(2deg);
  }
  75% {
    -webkit-transform: translateX(-1%) rotate(-1deg);
            transform: translateX(-1%) rotate(-1deg);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
.FAQ-accordion__picture, .FAQ-accordion__info {
  width: 50%;
}
.FAQ-accordion__picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  right: 6em;
  overflow: hidden;
}
.FAQ-accordion__picture-img {
  width: 100%;
  -webkit-transform: scale(1.16);
      -ms-transform: scale(1.16);
          transform: scale(1.16);
  position: relative;
  right: 3.6em;
}
.FAQ-accordion__title {
  margin: 0.4em 0 0.8em 0;
  font-size: 1.7rem;
  color: var(--Very-dark-desaturated-blue);
}
.FAQ-accordion__question-answer {
  padding: 1.5em 0 1em 0;
  border-bottom: 1px solid var(--Light-grayish-blue);
}
.FAQ-accordion__question-answer summary::after {
  content: url("../images/icon-arrow-down.svg");
}
.FAQ-accordion__question-answer[open] summary {
  color: var(--Very-dark-desaturated-blue);
  font-weight: 700;
}
@media (hover: hover) {
  .FAQ-accordion__question-answer[open] summary:hover {
    color: var(--Soft-red);
  }
}
.FAQ-accordion__question-answer[open] summary::after {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
.FAQ-accordion__question-answer[open] > *:not(summary) {
  -webkit-animation: details-show 0.5s ease-in-out;
          animation: details-show 0.5s ease-in-out;
}
@-webkit-keyframes details-show {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes details-show {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.FAQ-accordion__question-answer p {
  margin-bottom: 0;
  line-height: 1.2rem;
}
.FAQ-accordion__question {
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
@media (hover: hover) {
  .FAQ-accordion__question:hover {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    color: var(--Soft-red);
  }
}

.attribution {
  margin-bottom: 1em;
  font-size: 11px;
  color: #FFF;
  text-align: center;
}

.attribution a {
  color: #DDD;
}

@media screen and (max-width: 870px) {
  body {
    height: 150vh;
  }

  .FAQ-accordion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 330px;
    min-height: 540px;
    aspect-ratio: auto;
    padding: 3em;
    position: relative;
    background-image: url("../images/bg-pattern-desktop.svg");
    background-size: 75%;
    background-position: center -11em;
  }
  .FAQ-accordion__box {
    position: absolute;
    left: 3.4em;
    top: -3.4em;
  }
  .FAQ-accordion__box-img {
    width: 50%;
  }
}
@media screen and (max-width: 870px) and (hover: hover) {
  .FAQ-accordion__box-img:hover {
    -webkit-animation: none;
            animation: none;
  }
}
@media screen and (max-width: 870px) {
  .FAQ-accordion__picture, .FAQ-accordion__info {
    width: 100%;
  }
}
@media screen and (max-width: 870px) {
  .FAQ-accordion__picture {
    right: 0;
    position: absolute;
    overflow: visible;
    top: -9em;
  }
  .FAQ-accordion__picture-img {
    width: 72%;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    position: relative;
    right: 0;
  }
}
@media screen and (max-width: 870px) {
  .FAQ-accordion__info {
    position: relative;
    top: 7em;
  }
}
@media screen and (max-width: 870px) {
  .FAQ-accordion__title {
    text-align: center;
    margin: 0.8em 0;
    font-size: 1.6rem;
    color: var(--Very-dark-desaturated-blue);
  }
}